.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size:50px
}
  
.page-button {
    margin: 0 5px;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #0a0a23;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.page-button.active {
    background-color: #555;
}
  
.page-button:hover {
     background-color: #333;
}

.message {
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
    color: lightgreen;
}


