* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #508194;
  
}

.pages {
  color: #020150;
  margin-top: 60px;
}

.book-list {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

.book-item {
  display: inline-block;
  color: #003366;
  text-align: left;
  font-size:20px;
  width: 1000px;
}